<h1>Hello from show</h1>
<%= notice %>
<%= link_to "All Posts", posts_path %>
<p>
  <label>ID: </label>
  <%= @post.id %>
</p>
<p>
  <label>Title: </label>
    <%= @post.body %>
</p>
<p>
  <label>Post Body: </label>
    <%= @post.body %>
</p>

<%= link_to "Edit this post", edit_post_path(@post)%>


